<div class="jumbotron bg-white wrapper" style="min-width: 83vw;">
  <h1>{{ property?.name }}</h1>
  <p><img src="../assets/images/location.png"> {{ property?.address }}</p>

  <h3 class="font-weight-bold text-danger">${{ property?.price }}/night</h3>

  <p class="font-weight-bold"> Fits {{ property?.numberOfGuests }} people </p>

  <div class="wrapper">
    <img *ngIf="property?.propertyRating > 0" src="../../assets/images/star-icon.png">
    <img *ngIf="property?.propertyRating > 1" src="../../assets/images/star-icon.png">
    <img *ngIf="property?.propertyRating > 2" src="../../assets/images/star-icon.png">
    <img *ngIf="property?.propertyRating > 3" src="../../assets/images/star-icon.png">
    <img *ngIf="property?.propertyRating > 4" src="../../assets/images/star-icon.png">
  </div>

  <div class="carousel-container">
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let imageUrl of property?.uploads">
        <img [src]="imageUrl" alt="one image slide" class="image-slide">
      </ng-template>
      <ng-template ngbSlide *ngIf="!property?.uploads.length">
        <img src="../assets/images/no-image-available.jpg" alt="one image slide" class="image-slide">
      </ng-template>
    </ngb-carousel>
  </div>

  <div class="wrapper">
    <div class="list-group-container">
      <ul class="list-group">
        <li class="list-group-item bg-warning" *ngIf="property?.breakfast"> breakfast included </li>
        <li class="list-group-item bg-warning" *ngIf="property?.lunch"> lunch included </li>
        <li class="list-group-item bg-warning" *ngIf="property?.dinner"> dinner included </li>
        <li class="list-group-item bg-warning" *ngIf="property?.restaurant"> restaurant </li>
        <li class="list-group-item bg-warning" *ngIf="property?.kitchen"> kitchen facilities </li>
        <li class="list-group-item bg-warning" *ngIf="property?.parking"> parking </li>
        <li class="list-group-item bg-warning" *ngIf="property?.fitnessCenter"> fitness center </li>
        <li class="list-group-item bg-warning" *ngIf="property?.swimmingPool"> swimming pool </li>
        <li class="list-group-item bg-warning" *ngIf="property?.petFriendly"> pet friendly </li>
        <li class="list-group-item bg-warning" *ngIf="property?.chargingStation"> electric vehicle charging
          station </li>
      </ul>
    </div>
  </div>

  <div style="width:100%">
    <p>{{ property?.description }}</p>
    <div class="text-center wrapper">
      <button *ngIf="!isCalendarOpen" type="button" class="btn btn-danger font-weight-bold" (click)="toggleCalendar()">
        Book this property
      </button>
      <button *ngIf="isCalendarOpen" type="button" class="btn btn-primary font-weight-bold" (click)="toggleCalendar()">
        X
      </button>
    </div>
    <div *ngIf="isCalendarOpen">
      <form (ngSubmit)="bookForSelectedDates(bookingForm)" #bookingForm="ngForm">
        <div>
          <b2-date-picker name="dateRange" [(ngModel)]="dateRange"></b2-date-picker>
        </div>
        <div>
          <button type="submit" class="btn btn-danger font-weight-bold"> Book for the selected dates
          </button>
        </div>
      </form>
    </div>
    <br>
    <hr>
    <div class="text-center wrapper">
      <button class="btn previous" (click)="goToPrevious(property?.timestamp)" [disabled]="goToPrevDisabled">&laquo; Previous</button>
      <button class="btn next" (click)="goToNext(property?.timestamp)" [disabled]="goToNextDisabled">Next &raquo;</button>
    </div>
    <div class="text-center wrapper">
      <button type="button" class="btn btn-secondary font-weight-bold" [routerLink]="['/listings', { lastVisited: property.timestamp }]"> Back to all search results
      </button>
    </div>
  </div>
</div>