<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="checkbox"
    id="restaurant"
    (change)="handleFacilitiesUpdate('restaurant')"
    [checked]="facilities.includes('restaurant')"/>
  <label class="form-check-label" for="restaurant">Restaurant</label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="checkbox"
    id="parking"
    (change)="handleFacilitiesUpdate('parking')"
    [checked]="facilities.includes('parking')"/>
  <label class="form-check-label" for="parking">Parking</label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="checkbox"
    id="pet-friendly"
    (change)="handleFacilitiesUpdate('pet-friendly')"
    [checked]="facilities.includes('pet-friendly')"/>
  <label class="form-check-label" for="pet-friendly">Pet friendly</label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="checkbox"
    id="fitness-center"
    (change)="handleFacilitiesUpdate('fitness')"
    [checked]="facilities.includes('fitness')"/>
  <label class="form-check-label" for="fitness-center">Fitness center</label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="checkbox"
    id="swimming-pool"
    (change)="handleFacilitiesUpdate('pool')"
    [checked]="facilities.includes('pool')"/>
  <label class="form-check-label" for="swimming-pool">Swimming pool</label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="checkbox"
    id="charging-station"
    (change)="handleFacilitiesUpdate('charging-station')"
    [checked]="facilities.includes('charging-station')"/>
  <label class="form-check-label" for="charging-station">
    Electric vehicle charging station
  </label>
</div>
