<nav class="navbar navbar-dark bg-primary">
    <div>
        <a routerLink="/listings">
            <img src="../../assets/images/logo.png" alt="booking2">
        </a>
    </div>
    <div>
        <a routerLink="" style="margin-left: auto">
            <button class="btn btn-light font-weight-bold">Login</button>
        </a>
        <a routerLink="/add" style="margin-left: 1rem">
            <button class="btn btn-light font-weight-bold">List new property</button>
        </a>
    </div>
</nav>