.dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 300px;
  max-width: 600px;
  border: 2px dashed #2495f1;
  border-radius: 5px;
  margin: 10px auto;
}

.dropzone:hover {
  border: 2px solid #2495f1;
  background-color: #dadada !important;
  cursor: pointer;
}

.file-label {
  font-size: 1.2em;
}

progress::-webkit-progress-value {
  transition: width 0.1s ease;
}

.uploaded-items {
  margin: 2em auto;
}