.card-columns {
    height: 98vh;
 }

.card {
    height: 28rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.card:hover {
    box-shadow: 5px 5px 5px #CDCDCD;
}

.card-img-top {
    height: 12rem;
}

.list-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.list-group * {
    margin: 5px;
    width: fit-content;
    padding: 3px;
}

.card-body-button {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

@media (max-width: 700px) {
    .card-columns {
        height: fit-content;
    }
 }