label, small {
    display: block;
}

legend {
    font-weight: bold;
    font-size: 1rem;
}

.jumbotron {
    min-width: 85vw;
    text-align: center; 
  }

.list-group {
    width: 20rem;
    margin: 2rem auto;
}

.input-item {
    margin-bottom: 2rem;
}

.search-text-input {
    max-width: 30rem;
    margin: 0 auto;
}

.form-control-file {
    width: 30rem; 
    margin: 0 auto; 
    margin-bottom: 5px;
}

.number-of-guests-input {
    width: fit-content; 
    margin: 0 auto;
}

.price-input {
    width: 6rem; 
    margin: 0 auto;
}