<div class="jumbotron bg-white">
  <h1 class="font-weight-bold">Property details</h1>
  <p class="text-primary font-weight-bold">Please provide detailed information about your property</p>
  <br>

  <form (ngSubmit)="formSubmit(addPropertyForm.value)" #addPropertyForm="ngForm">

    <fieldset class="form-group">
      <label for="name" class="font-weight-bold"> Name </label>
      <small> Please give your property an attractive name </small>
      <input placeholder="Enter a name" name="name" id="name" class="form-control search-text-input"
        [(ngModel)]="propertyData.name" #nameInput="ngModel"
        [ngClass]="nameInput.invalid && nameInput.touched ? 'is-invalid' : nameInput.touched && nameInput.valid ? 'is-valid' : ''"
        minlength="5" maxlength="303" required />
    </fieldset>

    <fieldset class="form-group">
      <legend> Property type </legend>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="hotel">
          <input type="radio" class="form-check-input" id="hotel" name="propertyType" value="hotel"
            [(ngModel)]="propertyData.propertyType">Hotel
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="villa">
          <input type="radio" class="form-check-input" id="villa" name="propertyType" value="villa"
            [(ngModel)]="propertyData.propertyType">Villa
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="appartment">
          <input type="radio" class="form-check-input" id="appartment" name="propertyType" value="appartment"
            [(ngModel)]="propertyData.propertyType">Appartment
        </label>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <legend> Rating (if any) </legend>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="unrated">
          <input type="radio" class="form-check-input" id="unrated" name="propertyRating" value="unrated"
            [(ngModel)]="propertyData.propertyRating">unrated
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="1-star">
          <input type="radio" class="form-check-input" id="1-star" name="propertyRating" value="1"
            [(ngModel)]="propertyData.propertyRating">1 star
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="2-stars">
          <input type="radio" class="form-check-input" id="2-stars" name="propertyRating" value="2"
            [(ngModel)]="propertyData.propertyRating">2 stars
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="3-stars">
          <input type="radio" class="form-check-input" id="3-stars" name="propertyRating" value="3"
            [(ngModel)]="propertyData.propertyRating">3 stars
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="4-stars">
          <input type="radio" class="form-check-input" id="4-stars" name="propertyRating" value="4"
            [(ngModel)]="propertyData.propertyRating">4 stars
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label" for="5-stars">
          <input type="radio" class="form-check-input" id="5-stars" name="propertyRating" value="5"
            [(ngModel)]="propertyData.propertyRating">5 stars
        </label>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <b2-address-input name="address" [(ngModel)]="propertyData.address"></b2-address-input>
    </fieldset>

    <fieldset class="form-group">
      <label class="font-weight-bold"> How many people can stay?
        <b2-number-of-guests-input name="numberOfGuests" [(ngModel)]="propertyData.numberOfGuests"></b2-number-of-guests-input>
      </label>
    </fieldset>

    <fieldset class="form-group">
      <legend> Do you provide meals for your guests? </legend>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="breakfast" value="breakfast" name="breakfast"
          [(ngModel)]="propertyData.breakfast">
        <label class="form-check-label" for="breakfast">Breakfast included</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="lunch" value="lunch" name="lunch"
          [(ngModel)]="propertyData.lunch">
        <label class="form-check-label" for="lunch">Lunch included </label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="dinner" value="dinner" name="dinner"
          [(ngModel)]="propertyData.dinner">
        <label class="form-check-label" for="dinner">Dinner included</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="kitchen" value="kitchen" name="kitchen"
          [(ngModel)]="propertyData.kitchen">
        <label class="form-check-label" for="kitchen">Kitchen facilities</label>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <legend> What else can guests expect at your place? </legend>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="restaurant" name="restaurant" value="restaurant"
          [(ngModel)]="propertyData.restaurant">
        <label class="form-check-label" for="restaurant">Restaurant</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="parking" name="parking" value="parking"
          [(ngModel)]="propertyData.parking">
        <label class="form-check-label" for="parking">Parking</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="pet-friendly" name="petFriendly" value="petFriendly"
          [(ngModel)]="propertyData.pet-friendly">
        <label class="form-check-label" for="pet-friendly">Pet friendly</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="fitness-center" name="fitnessCenter" value="fitnessCenter"
          [(ngModel)]="propertyData.fitnessCenter">
        <label class="form-check-label" for="fitness-center">Fitness center</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="swimming-pool" name="swimmingPool" value="swimmingPool"
          [(ngModel)]="propertyData.swimming-pool">
        <label class="form-check-label" for="swimming-pool">Swimming pool</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="charging-station" name="chargingStation"
          value="chargingStation" [(ngModel)]="propertyData.charging-station">
        <label class="form-check-label" for="charging-station">Electric vehicle charging station</label>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <b2-uploader name="uploads" [(ngModel)]="propertyData.fileUrls"></b2-uploader>
    </fieldset>

    <fieldset class="form-group">
      <label for="description" class="font-weight-bold"> Description </label>
      <small> Please write a short description between 10 and 300 symbols </small>
      <textarea type="textarea" name="description" id="description" class="form-control search-text-input"
        minlength="15" maxlength="300" rows="6" [(ngModel)]="propertyData.description" #descInput="ngModel"
        [ngClass]="descInput.invalid && descInput.touched ? 'is-invalid' : descInput.touched && descInput.valid ? 'is-valid' : ''"
        minlength="5" maxlength="303" required>
        </textarea>
    </fieldset>

    <fieldset class="form-group">
      <label for="price" class="font-weight-bold" required> Price per night (USD) </label>
      <input type="number" min="0" name="price" [(ngModel)]="propertyData.price" id="price"
        class="form-control price-input" pattern="^[1-9]+[0-9]*$" #priceInput="ngModel"
        [ngClass]="priceInput.invalid && priceInput.touched ? 'is-invalid' : priceInput.touched && priceInput.valid ? 'is-valid' : ''"
        minlength="5" maxlength="303" required>
    </fieldset>

    <button type="submit" class="btn btn-primary font-weight-bold" [disabled]="!addPropertyForm.valid">Submit</button>
  </form>
</div>