<div class="wrapper">
        <div *ngIf="snapshot | async as snap">
                <div *ngIf="downloadURL as url">
                    <img [src]="url" style="max-width: 200px; max-height: 200px;"><br>
                    <a [href]="url" target="_blank" rel="noopener" style="margin-right: 1rem">Download</a>
                    <a class="text-danger" style="cursor: pointer" (click)="delete(url)">Delete</a>
                </div>
            </div>  
    <div *ngIf="percentage | async as pct" style="margin: 50px 0 0 1rem">
        <progress [value]="pct" max="100"></progress>
        {{ pct | number }}%
    </div>
</div>