<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input type="radio" class="form-check-input" (change)="handlePropertyTypeSelect(null)" [checked]="!propertyType" />
    None (any)
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input
      type="radio"
      class="form-check-input"
      (change)="handlePropertyTypeSelect('hotel')"
      [checked]="propertyType === 'hotel'"
    />
    Hotel
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input
      type="radio"
      class="form-check-input"
      (change)="handlePropertyTypeSelect('villa')"
      [checked]="propertyType === 'villa'"
    />
    Villa
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input
      type="radio"
      class="form-check-input"
      (change)="handlePropertyTypeSelect('appartment')"
      [checked]="propertyType === 'appartment'"
    />
    Appartment
  </label>
</div>
