label, small {
    display: block;
}

input:hover {
    cursor: pointer;
}

.wrapper {
    min-height: 81vh;
    text-align: center;
    min-width: 90vw;
    width: 100%;
}

.list-group {
    width: 20rem;
    margin: 2rem auto;
}

.input-item {
    margin-bottom: 2rem;
}