<div class="jumbotron bg-white wrapper">
    <h1 class="font-weight-bold">Property details</h1>
    <p class="text-primary font-weight-bold">Please provide detailed information about your property</p>
    <br>
    <form>
        <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum molestias rerum deserunt magni beatae odio doloribus aperiam cumque quibusdam quos eveniet facere laborum doloremque suscipit ipsam at, aspernatur consequatur reprehenderit.</p>
            <div class="input-wrapper">
                    <input type="text">
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum molestias rerum deserunt magni beatae odio doloribus aperiam cumque quibusdam quos eveniet facere laborum doloremque suscipit ipsam at, aspernatur consequatur reprehenderit.</p>

            <div class="input-wrapper">
                    <input type="text">
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum molestias rerum deserunt magni beatae odio doloribus aperiam cumque quibusdam quos eveniet facere laborum doloremque suscipit ipsam at, aspernatur consequatur reprehenderit.</p>
            <div class="input-wrapper">
                    <input type="text">
            </div>
        </div>
        <button type="submit" class="btn btn-primary font-weight-bold">Submit</button>
    </form>
</div>