<div class="jumbotron bg-white wrapper">
  <h1 class="font-weight-bold">Property details</h1>
  <p class="text-primary font-weight-bold">Please provide detailed information about your property</p>
  <br>
  <form>
    <div>
      <div class="input-item">
        <label for="meals" class="font-weight-bold"> Property type </label>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="radio1">
            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Hotel
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="radio2">
            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Villa
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="radio2">
            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Appartment
          </label>
        </div>
      </div>
      <div class="input-item">
        <label for="meals" class="font-weight-bold"> Rating </label>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="radio1">
            <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>Unrated
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="radio2">
            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">1 star
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="radio2">
            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">2 stars
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="radio2">
            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">3 stars
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="radio2">
            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">4 stars
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label" for="radio2">
            <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">5 stars
          </label>
        </div>
      </div>
      <div class="input-item">
        <label for="country" class="font-weight-bold"> Address </label>
        <small>Do not forget to indicate your building/appartment number </small>
        <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
          (onAddressChange)="handleAddressChange($event)" size="50" />
        <ul *ngIf="address.length" class="list-group">
          <li *ngFor="let item of address" class="list-group-item">{{ item.long_name }}</li>
        </ul>
      </div>
      <div class="input-item">
          <label for="guests-number" class="font-weight-bold"> How many people can stay?</label>
          <input type="number" min="1" max="30" value="2" size="2" />
        </div>
      <div class="input-item">
        <label for="meals" class="font-weight-bold"> Do you provide meals for your guests? </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Breakfast included</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Breakfast & lunch included </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Breakfast & dinner included</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Kitchen facilities</label>
        </div>
      </div>
      <div class="input-item">
        <label for="facilities" class="font-weight-bold"> What else can guests expect at your place? </label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
          <label class="form-check-label" for="inlineCheckbox1">Restaurant</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Parking</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Pet friendly</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Fitness center</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Swimming pool</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
          <label class="form-check-label" for="inlineCheckbox2">Electric vehicle charging station</label>
        </div>
      </div>
      <div class="input-item">
        <label for="guests-number" class="font-weight-bold"> Price per night (USD)</label>
        <input type="number" min="1" />
      </div>

    </div>
    <button type="submit" class="btn btn-primary font-weight-bold">Submit</button>
  </form>
</div>