<div class="bg-warning container-fluid search-panel-wrapper">
  <form (ngSubmit)="search()" [formGroup]="searchForm">
    <fieldset class="form-group input-wrapper">
      <b2-search-term-input formControlName="searchTerm">
      </b2-search-term-input>
    </fieldset>
    <hr />
    <fieldset class="input-wrapper date-picker">
      <b2-date-picker formControlName="dates"> </b2-date-picker>
    </fieldset>
    <hr />
    <fieldset class="form-group input-wrapper">
      <b2-number-of-guests-input formControlName="numberOfGuests">
      </b2-number-of-guests-input>
    </fieldset>
    <hr />
    <fieldset class="form-group input-wrapper">
      <b2-price-range-input formControlName="priceRange">
      </b2-price-range-input>
    </fieldset>
    <hr />
    <fieldset class="form-group input-wrapper">
      <b2-property-type-input formControlName="propertyType">
      </b2-property-type-input>
    </fieldset>
    <hr />
    <fieldset class="form-group input-wrapper">
      <b2-rating-input formControlName="propertyRating"> </b2-rating-input>
    </fieldset>
    <hr />
    <fieldset class="form-group input-wrapper">
      <b2-meals-input formControlName="meals"> </b2-meals-input>
    </fieldset>
    <hr />
    <fieldset class="form-group input-wrapper">
      <b2-facilities-input formControlName="facilities"> </b2-facilities-input>
    </fieldset>
    <div class="submit-wrapper">
      <button class="btn btn-primary submit" type="submit">Search</button>
    </div>
  </form>
</div>
