.wrapper {
    padding: 1rem;
}

.container {
    padding-top: 1em;
}

.jumbotron {
    text-align: center;
    padding-top: 0.7rem;
}

.list-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.list-group * {
    margin: 5px;
    width: fit-content;
}
.carousel-container, .picsum-img-wrapper  {
    height: 30rem;
    width: 60rem;
    margin: 0 auto;

}

@media only screen and (max-width: 700px) {
    .list-group-container {
        display: inline-block;
    }

    .list-group {
        flex-direction: column;
    }

    .carousel-container, .picsum-img-wrapper {
        width: 100%;
    }
}