<div class="jumbotron bg-white wrapper">
  <h1>My Jumbotron</h1>
  <p>Think BIG with a Bootstrap Jumbotron!</p>
  <div class="wrapper">
    <img src="../../assets/images/star-icon.png">
    <img src="../../assets/images/star-icon.png">
    <img src="../../assets/images/star-icon.png">
    <img src="../../assets/images/star-icon.png">
    <img src="../../assets/images/star-icon.png">
  </div>

    <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[0]" alt="Random first slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[1]" alt="Random second slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide">
          </div>
        </ng-template>
      </ngb-carousel>
      


    <div class="wrapper">
      <div class="list-group-container">
        <ul class="list-group">
          <li class="list-group-item bg-warning">itdgsdgsdgsdgsem1</li>
          <li class="list-group-item bg-warning">item1</li>
          <li class="list-group-item bg-warning">ixcvxcvxcvtem1</li>
          <li class="list-group-item bg-warning">item1</li>
          <li class="list-group-item bg-warning">item1</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div style="display: inline-block; width: 75%; text-align: left; vertical-align: top">
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, dolores debitis cum repellendus est
        quibusdam! Numquam pariatur ex, ea tempora deserunt odio fugiat, reprehenderit rem enim voluptate facilis
        voluptatibus accusantium.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, dolores debitis cum repellendus est
        quibusdam! Numquam pariatur ex, ea tempora deserunt odio fugiat, reprehenderit rem enim voluptate facilis
        voluptatibus accusantium.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor, dolores debitis cum repellendus est
        quibusdam! Numquam pariatur ex, ea tempora deserunt odio fugiat, reprehenderit rem enim voluptate facilis
        voluptatibus accusantium.</p>
      <div class="text-center wrapper">
        <button type="button" class="btn btn-primary font-weight-bold" routerLink="/listings"> Back to search results
        </button>
      </div>

    </div>
  </div>