.container {
    min-height: 85vh;
    min-width: 80vw;
    padding-top: 20vh;
}

.error-template {
    padding: 40px 15px;
    text-align: center;
}

.error-actions {
    margin-top:15px;
    margin-bottom:15px;
}

.error-actions .btn { 
    margin-right:10px; 
}