<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="checkbox"
    id="breakfast"
    (change)="handleMealsUpdate('breakfast')"
    [checked]="meals.includes('breakfast')"
  />
  <label class="form-check-label" for="breakfast">Breakfast included</label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="checkbox"
    id="lunch"
    (change)="handleMealsUpdate('lunch')"
    [checked]="meals.includes('lunch')"
  />
  <label class="form-check-label" for="lunch">Lunch included </label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="checkbox"
    id="dinner"
    (change)="handleMealsUpdate('dinner')"
    [checked]="meals.includes('dinner')"
  />
  <label class="form-check-label" for="dinner">Dinner included</label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="checkbox"
    id="kitchen"
    (change)="handleMealsUpdate('kitchen')"
    [checked]="meals.includes('kitchen')"
  />
  <label class="form-check-label" for="kitchen">Kitchen facilities</label>
</div>
