<div class="jumbotron bg-white" *ngIf="editPropertyForm">
  <h1 class="h-5 font-weight-bold">Edit property #{{ propertyId }}</h1>
  <br />
  <form
    [formGroup]="editPropertyForm"
    (ngSubmit)="formSubmit(editPropertyForm.value)">
    <fieldset class="form-group">
      <label for="name" class="font-weight-bold"> Name </label>
      <small> Please give your property an attractive name </small>
      <input
        placeholder="Enter a name"
        id="name"
        formControlName="name"
        class="form-control search-text-input"
        [ngClass]="
          editPropertyForm.get('name').errors &&
          (editPropertyForm.get('name').touched ||
            editPropertyForm.get('name').dirty)
            ? 'is-invalid'
            : editPropertyForm.get('name').touched &&
              editPropertyForm.get('name').dirty
            ? 'is-valid'
            : ''"/>
    </fieldset>

    <fieldset class="form-group">
      <legend>Property type</legend>
      <b2-property-type-input formControlName="propertyType">
      </b2-property-type-input>
    </fieldset>

    <fieldset class="form-group">
      <legend>Rating (if any)</legend>
      <b2-rating-input formControlName="propertyRating"> </b2-rating-input>
    </fieldset>

    <fieldset class="form-group">
      <b2-address-input formControlName="address"> </b2-address-input>
    </fieldset>

    <fieldset class="form-group">
      <label class="font-weight-bold">
        How many people can stay?
        <b2-number-of-guests-input formControlName="numberOfGuests">
        </b2-number-of-guests-input>
      </label>
    </fieldset>

    <fieldset class="form-group">
      <legend>Do you provide meals for your guests?</legend>
      <b2-meals-input formControlName="meals"> </b2-meals-input>
    </fieldset>

    <fieldset class="form-group">
      <legend>What else can guests expect at your place?</legend>
      <b2-facilities-input formControlName="facilities"> </b2-facilities-input>
    </fieldset>

    <fieldset class="form-group">
      <p class="font-weight-bold">Previously uploaded images:</p>
      <div *ngFor="let fileUrl of previouslySavedUploads">
        <img [src]="fileUrl" alt="property picture" class="mr-2 mb-2" width="200" />
          <i class="fa fa-times text-danger c-pointer" aria-hidden="true" (click)="deleteImage(fileUrl)"></i>
      </div>
    </fieldset>

    <fieldset class="form-group">
      <b2-uploader formControlName="uploads"> </b2-uploader>
    </fieldset>

    <fieldset class="form-group">
      <label for="description" class="font-weight-bold"> Description </label>
      <small>
        Please write a short description between 20 and 600 symbols
      </small>
      <textarea
        type="textarea"
        id="description"
        formControlName="description"
        class="form-control search-text-input"
        rows="6"
        [ngClass]="
          editPropertyForm.get('description').errors &&
          (editPropertyForm.get('description').touched ||
            editPropertyForm.get('description').dirty)
            ? 'is-invalid'
            : editPropertyForm.get('description').touched &&
              editPropertyForm.get('description').dirty
            ? 'is-valid'
            : ''">
      </textarea>
    </fieldset>

    <fieldset class="form-group">
      <label for="price" class="font-weight-bold" required>
        Price per night (USD)
      </label>
      <input
        type="number"
        id="price"
        formControlName="price"
        class="form-control price-input"
        [ngClass]="
          editPropertyForm.get('price').errors &&
          (editPropertyForm.get('price').touched ||
            editPropertyForm.get('price').dirty)
            ? 'is-invalid'
            : editPropertyForm.get('price').touched &&
              editPropertyForm.get('price').dirty
            ? 'is-valid'
            : ''"/>
    </fieldset>

    <button
      type="submit"
      class="btn btn-primary font-weight-bold"
      [disabled]="!editPropertyForm.valid">
      Submit
    </button>
  </form>
</div>
