<form class="form-inline"> 
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" style="min-width: 50%">
    <div class="typesel-container">
        <div class="checkbox">
            <label><input type="checkbox" value="hotels">US$0 - US$56 per night</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="villas">US$56 - US$110 per night</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="appartments">US$110 - US$160 per night</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="appartments">US$160 - US$220 per night</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="appartments">US$220 + per night</label>
        </div>
    </div>
    <div class="typesel-container">
        <div class="checkbox">
            <label><input type="checkbox" value="hotels">Hotels</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="villas">Villas</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="appartments">Appartments</label>
        </div>
    </div>
    <div class="typesel-container">
        <div class="checkbox">
            <label><input type="checkbox" value="appartments">Unrated</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="hotels">1 star</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="villas">2 stars</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="appartments">3 stars</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="appartments">4 stars</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="appartments">5 stars</label>
        </div>
    </div>
    <div class="typesel-container">
            <div class="checkbox">
                <label><input type="checkbox" value="hotels">Restaurant</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="villas">Parking</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="appartments">Pet friendly</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="appartments">Fitness center</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="appartments">Swimming pool</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="appartments">Electric vehicle charging station</label>
            </div>
        </div>
        <button class="btn bg-warning submit" type="submit">Search</button>
</form>