<label for="address" class="font-weight-bold"> Address </label>
<small>Do not forget to indicate your building/appartment number </small>
<input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" name="address" id="address"
  class="form-control search-text-input"
  (onAddressChange)="handleAddressSelect($event)"
  [(ngModel)]="address"
  #addressInput="ngModel" 
  pattern="^[a-zA-Z]*\d+[a-zA-Z]*$"
  [ngClass]="addressInput.invalid && addressInput.touched ? 'is-invalid' : addressInput.touched && addressInput.valid ? 'is-valid' : ''" maxlength="50" required />