label {
    display: block;
  }

.typesel-container {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 1em;
}

.typesel-container * {
    justify-content: left !important;
    font-size: inherit;

}

.submit {
    margin-left: 1rem;
}

[type="date"] {
    background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat;
    cursor: pointer;
  }
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: pointer;
  }
