label {
    display: block;
  }

.typesel-container {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 1em;
}

.typesel-container * {
    justify-content: left !important;
    font-size: inherit;

}

.submit {
    margin-left: 1rem;
}

.custom-day {
  text-align: center;
  padding: 0.185rem 0.25rem;
  display: inline-block;
  height: 2rem;
  width: 2rem;
}
.custom-day.focused {
  background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
  background-color: rgb(2, 117, 216);
  color: white;
}
.custom-day.faded {
  background-color: rgba(2, 117, 216, 0.5);
}
