.wrapper {
  padding: 1rem;
}

.container {
  padding-top: 1em;
}

.jumbotron {
  text-align: center;
  padding-top: 0.7rem;
  min-width: 86vw;
}

.carousel-container,
.picsum-img-wrapper {
  margin: 0 auto;
  background-color: black;
}

.image-slide {
  height: 490px;
}

.list-group-container {
  display: flex;
  align-content: center;
  justify-content: center;
  padding-top: 1rem;
}

.list-group {
  list-style: none;
}

.list-group li {
  margin-right: 15px;
  font-size: 1rem;
  font-weight: bold;
}

@media only screen and (max-width: 700px) {
  .list-group-container {
    display: inline-block;
  }

  .list-group {
    flex-direction: column;
  }

  .carousel-container,
  .picsum-img-wrapper {
    width: 100%;
  }

  .image-slide {
    height: 200px;
  }
}
