<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input
      type="radio"
      class="form-check-input"
      (change)="handlePropertyRatingSelect(0)"
      [checked]="propertyRating === 0"/>
      unrated
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input
      type="radio"
      class="form-check-input"
      (change)="handlePropertyRatingSelect(1)"
      [checked]="propertyRating === 1"/>
      1 star
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input
      type="radio"
      class="form-check-input"
      (change)="handlePropertyRatingSelect(2)"
      [checked]="propertyRating === 2"/>
      2 stars
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input
      type="radio"
      class="form-check-input"
      (change)="handlePropertyRatingSelect(3)"
      [checked]="propertyRating === 3"/>
      3 stars
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input
      type="radio"
      class="form-check-input"
      (change)="handlePropertyRatingSelect(4)"
      [checked]="propertyRating === 4"/>
      4 stars
  </label>
</div>
<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input
      type="radio"
      class="form-check-input"
      (change)="handlePropertyRatingSelect(5)"
      [checked]="propertyRating === 5"/>
      5 stars
  </label>
</div>
